#articles{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

#articles a {
    color: var(--clr-light);
}
  
.truncate {
  display: -webkit-box;             /* Use flexbox-based layout for text */
  -webkit-box-orient: vertical;     /* Set the orientation to vertical */
  overflow: hidden;                 /* Hide overflowing content */
  text-overflow: ellipsis;          /* Add '...' for truncation */
  -webkit-line-clamp: 0; 
  width: 100%;               /* Set a width for the container */
}

  #articlesWrap{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .articles{
    width: 100%;
    height: auto;
    border:0.3px solid rgb(48, 47, 47);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .articles:hover{
  background-color: rgba(71, 71, 71, 0.39);
  border: none
  }

  .articlesUp{
    width: 35%;
    height:max-content
  }

  .articlesUp img{
    border-radius: 30px;
  }

  .down{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .downBio{
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .downBio img{
    width: 2rem;
    height: 2rem;
  }

  .downBio h1,.date{
    color: rgb(198, 202, 206);
  }

  @media(max-width:1280px){
    .articles{
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem;
      border: none
    }
    .down{
      width: 100%;
      gap: 0.5rem
    }
    .down p{
      width: 100%;
    }
    .articlesUp{
      width: 100%;
      margin-bottom: 0.3rem;
    }
    .articlesUp img{
      border-radius: 20px;
    }
  }

  
  @media (max-width:768px){
    .truncate {
      display: -webkit-box;             /* Use flexbox-based layout for text */
      -webkit-box-orient: vertical;     /* Set the orientation to vertical */
      overflow: hidden;                 /* Hide overflowing content */
      text-overflow: ellipsis;          /* Add '...' for truncation */
      -webkit-line-clamp: 4; 
      width: 100%;               /* Set a width for the container */
    }
  }